form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

.mine {
  font-weight: bold;
  border: 5px solid black;
  padding: 0.5rem;
}

.posts{
  display: flex;
  
}

.selected{
    border: solid 5 px fuchsia;
}

